.container-register{
    border: 2px solid rgba(255, 255, 255, 5); 
    display: block;
    background: transparent;
    width: 50%; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    padding: 5px;
    color: black;
    line-height: 200%;
}

.label-register{
    padding: 0 5%;
    font-family:Arial, Helvetica, sans-serif;
}

.input-form-register{
    border-radius: 5px;
    border: 1px solid #7f7f7f;
    padding: 5px;
    width: 100%;
}

.submit-btn{
    background-color: #2E75B6; 
    color: #fff;
    width: 100%; 
    margin-top: 6px;
    margin-bottom: 6px;
    border: 0.5px #2E75B6;
    border-radius: 10px; 
    font-weight: bold;
    padding: 10px;
}

.col-25 {
    float: left;
    width: 40%;
    margin-top: 12px;
}

.col-75 {
    float: left;
    width: 60%;
    margin-top: 10px;
}

.body-register{
    background: linear-gradient(150deg, #ffffff, #ffffff,#b2d7f8, #b2d7f8);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.body-login{
    background: linear-gradient(150deg, #ffffff, #ffffff,#b2d7f8, #b2d7f8);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 5%;
}

.logo_image{
    width: 75%;
    height: 15%; 
    margin-left: auto;
    margin-right: auto;
}

.label-register li {
    padding: 5px;
    height: 53px;
}

.label-register .alert {
    display: none;
    height: 25px;
    margin: 0 !important;
    padding-top: 0;
}

.label-register .error {
    color: #D93025;
    font-size: 18px;
    margin: 0 !important;
    padding: 0;
}

.label-register .col-75 .text {
    margin-left: 25px; 
    color: #D93025;
}

.body-login .label-register i {
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    margin-top: 25px;
}
.body-register .label-register i {
    margin-left: -30px;
    cursor: pointer;
    position: fixed;
    margin-top: 25px;
}