/* 🗿 */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.not-yet::after {
    content: "Chức năng này hiện chưa hoàn thành";

    position: absolute;
    top: 80px;
    left: 400px;
    background-color: #ff3300;
    z-index: 10;
}

.not-yet:hover:after {
    display: flex;
}



#display-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    padding: 20px;
    height: 32%;
    box-shadow: 3px 3px 12px rgba(0, 0, 0);
    border-radius: 24px;
}

#timer {
    height: 24px;
    width: 100%;
    text-align: center;
    line-height: 24px;
}

#screen-container {
    background-color: #f0f0f0;
    padding: 16px;
    margin: 8px 0px;
    border-radius: 8px;
}

#screen {
    height: 80px;
    padding: 8px;
    width: 100%;
    background-color: rgb(130, 137, 133);
    display: flex;
    justify-content: end;
    border-radius: 8px;
}

#screen span {
    font-family: 'DigitalFont';
    font-size: 48px;
    font-weight: 500;
    margin-left: 8px;
    line-height: 80px;
    /* background-color: #ff3300; */
}

#indicator {
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#indicator #correct,
#indicator #incorrect {
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #00000050;
}

#indicator #correct {
    background-color: rgb(79, 158, 0);
}

#indicator #incorrect {
    background-color: rgb(205, 41, 0);
}

#indicator #correct::after,
#indicator #incorrect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#indicator #correct.active::after {
    background-color: chartreuse;
    box-shadow: 0px 0px 12px 6px chartreuse;
}

#indicator #incorrect.active::after {
    background-color: #ff3300;
    box-shadow: 0px 0px 12px 6px #ff3300;
}

#indicator #score {
    margin-top: 4px; 
    background-color: #adadad;
    box-shadow: inset 0px 0px 8px 4px rgba(50, 50, 50);
    font-family: 'DigitalFont';
    font-size: 24px;
    padding: 0px 20px;
    border-radius: 8px;
}

#indicator #score.active {
    background-color: #cdcdcd;
    box-shadow: 0px 0px 8px 4px #cdcdcd;
}

#input-section {
    display: grid;
    gap: 12px;
    padding: 32px;
    height: 68%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#input-section > .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-section .button-item {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    background: radial-gradient(#404040, #202020);
    box-shadow: 2px 2px 5px rgba(0, 0, 0);
    max-width: 120px;
    width: 80%;
    height: 72%;
}

#calculator {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 60vw;
    max-width: 500px;
    height: 90vh;
    max-height: 720px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgb(30, 30, 30);
    background-color: rgb(80, 80, 80);
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    animation: CalculatorSlideInFromBottom 600ms ease-in-out forwards;
    left: 50%;
    top: 100vh;
    transform: translateY(100%);
}

#calculator.calculator-hide {
    animation: CalculatorSlideOutToBottom 1000ms ease-in-out forwards;
}

@keyframes CalculatorSlideInFromBottom {
    from {
        display: none;
        top: 100vh;
        transform: translateY(100%) translateX(-50%);
    }

    to {
        display: flex;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

@keyframes CalculatorSlideOutToBottom {
    from {
        display: flex;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    to {
        display: none;
        top: 100vh;
        transform: translateY(100%) translateX(-50%);
        
    }
}