/* INTRODUCE PAGE */

section .cards .card-image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #a1d2fd;
}

section .cards .card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}




.cards {
    position: relative;
    background: #fff;
    border-radius: 20px 20px 10px 10px;
    margin: 20px 0;
    box-shadow: 0 5px 10px #000000;
}

.cards::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #a1d2fd;
    border-radius: 20px 20px 10px 10px;
}

.cards .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
    border-radius: 20px 20px 10px 10px;
}

.introduce_section {
    height: 75vh;
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #fef8eb;
}

.cards .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards .media-icons i{
    color: #fff;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cards .media-icons i:hover{
    opacity: 1;
}

.cards .name-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.name-teacher .name {
    font-size: 20px;
    font-weight: 600;
}

.name-teacher .teacher {
    font-size: 15px;
    font-weight: 500;
}

.cards .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.cards .rating i {
    font-size: 20px;
    margin: 0 2px;
    color: #ffeb0d;
}

.cards .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cards .button button {
    background: #a1d2fd;
    outline: none;
    border: none;
    color: #8f8f8f;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    background: #4b0b9f;
}

.swiper{
    width: 950px;
}

.swiper-pagination {
    position: sticky !important;
    display: flex !important;
    margin-top: 10px;
}

.swiper-pagination-bullet {
    height: 7px !important;
    width: 26px !important;
    border-radius: 25px !important;
    background: #a1d2fd !important;
}

.swiper-button-next::after, .swiper-button-prev::after{
    opacity: 1;
    color: #a1d2fd;
    transition: all 0.3s ease;
    top: 0 !important;
    margin-top: 22vh !important;
}

@media screen and (max-width: 768px) {
    .mySwiper{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    
}