@import "./header.css";
@import "./introduce.css";
@import "./topic.css";
@import "./auth.css";
@import "./calculator.css";


@font-face {
    font-family: 'DigitalFont';
    src: url('../assets/fonts/digital-7.ttf');
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    font-family: "Roboto", sans-serif !important;
    margin-bottom: 0 !important;
    border: #000000;
}

body {
    font-family: "Roboto", sans-serif !important;
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pagination_active {
    background: #92278f !important;
    color: #fff !important;
}

.modal-dialog {
    max-width: 50%;
}

.auth .form-control {
    display: block;
    width: 100%;
    height: calc(2.9em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 50px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* -------------------------- ABOUT THIS PROJECT-------------------------- */
.about_container {
    width: 100%; 
    display: block; 
    justify-content: center; 
    align-items: center;
    /* background-color: #ffeb0d; */
}
.col-6{
    margin-left: 70px;
    margin-right: 20px;
}

.about {
    background-color: #fff8eb;
    padding: 100px 0;
}
.about__video {
    border: 8px solid #8dc63f;
    border-radius: 8px;
}

.about__video-play {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}
.about__content {
    position: relative;
    z-index: 1;
    padding-right: 100px;
}
.about__content h4 {
    color: #92278f;
    font-weight: normal;
}
.about__content h2 {
    letter-spacing: 1px;
    font-weight: bolder;
    color: #0e2c53;
}
.about__content p {
    color: #707070;
    line-height: 1.8;
    letter-spacing: 0.4;
}
.about__contact {
    padding: 1rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.about__contact span {
    font-size: 1.5rem;
    color: #ff5200;
}
.about-wrapper::before {
    position: absolute;
    content: "";
    width: 45%;
    height: 100%;
    background-color: #fff;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 45%;
}
#main-container {
    position: relative;
}

.footer {
    background: url("http://labartisan.net/demo/kitton/assets/images/footer/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    padding: 60px 32px;
}
.footer__content-item {
    color: #707070;
}
.footer__content-item i {
    color: #000;
}
.footer__content-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0e2c53;
}
@media all and(min-width: 900px){
.container {
    max-width: 1140px;
  }
}
@media all and (max-width: 576px) {

    .grade__content-item {
        max-width: calc(33.33% - 1rem);
        flex-basis: calc(33.33% - 1rem);
        margin: 0 0.5rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }
    .grade__content-item h5 {
        margin-top: 0.8rem;
    }

    .footer {
        background: #8c3798;
    }
    .footer p,
    .footer i {
        color: #fff;
    }
    .footer__content-item {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}

@media all and (max-width: 1000px) {
    .header {
        position: relative;
        z-index: 999;
    }
    .header-wrapper {
        justify-content: space-evenly;
    }
    .header__logo {
        max-width: 130px;
    }
    .header__baricon {
        display: block;
        font-weight: bold;
        color: #ff5200;
        cursor: pointer;
    }
    .header__menu {
        display: none;
    }
    .header__mobile {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        z-index: 99999;
        background-color: #fff;
    }
    .header__mobile-wrapper {
        align-items: baseline;
        justify-content: flex-start;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .header__mobile__logo {
        margin-right: 5rem;
    }
    .header__mobile__menu-wrap {
        flex-direction: column;
    }
    .header__mobile__menu-item {
        border-top: 1px solid #f2f2f2;
        padding: 10px 25px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
    .header__mobile__home-btn a {
        color: #8dc63f !important;
    }
    .header__mobile__list-class {
        color: #ff5200;
        position: relative;
    }
    .header__mobile__list-class:hover .header__mobile__submenu {
        display: block;
    }
    .header__mobile__about {
        color: #92278f;
    }
    .header__mobile__register a {
        color: #00bfff !important;
    }
    .header__mobile__login a {
        color: #e11a1f !important;
    }
    .header__mobile__submenu {
        display: none;
    }
    .header__mobile__submenu-item {
        width: 33.33%;
        padding: 0.5rem;
    }
    .header__mobile__submenu-item a {
        color: #0e2c53 !important;
        text-transform: capitalize;
    }
    .header__mobile__submenu-item:hover {
        color: #ff5200;
        background-color: #f2f2f2;
    }

    .about {
        padding: 80px 0;
    }
    .about-wrapper::before {
        width: 0;
    }
    .about__firstcol,
    .about__secondcol {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .about__firstcol {
        margin-bottom: 1rem;
    }

    .list-topic__filter {
        padding: 15px 0;
    }
    .list-topic__filter-item {
        padding-bottom: 0.5rem;
    }
    .list-topic__filter-chooselevel {
        padding: 0.5rem;
        font-size: 14px;
        width: 100%;
    }
}

.userinfo {
    background-color: #fff8eb;
}
.userinfo .wrapper {
    padding: 80px 50px;
}
.userinfo .container-sm-fluid {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
}
.userinfo__content {
    padding: 2rem;
}
.userinfo__title {
    color: #002c9d;
}
.userinfo__prefix {
    width: 140px;
    color: #707070;
}
.userinfo__info > li {
    margin-bottom: 1rem !important;
}
.dataTables_wrapper .dataTables_filter {
    text-align: right;
}

/* GRADE SELECT */
.grade-selector {
    /* display: none; */
    height: 200px;
    display: flex;
    align-items: middle;
    align-content: middle;
}

/* .grade-selector .row {
     background-color: #002c9d; 
} */
.grade-selector .row a:hover {
    background-color: salmon;
    transition: ease-in-out 100ms;
}

.grade-selector.game {
    background-position: 50% 45%;
    background-size: cover;
}

.grade-selector .row{
    justify-content: space-between;
}

.grade-ele {
    background-color: #41b153;
    display: flex;
    max-width: calc(16.66% - 32px) !important;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grade-ele a {
    color: white !important;
}



.grade {
    position: relative;
    min-height: 100vh;
    padding: 80px 0;
    background-image: url("http://labartisan.net/demo/kitton/assets/images/counter/counter-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grade__title {
    text-align: center;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.grade__content-item {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    max-width: calc(33.33% - 2rem);
    flex-basis: calc(33.33% - 2rem);
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fff;
}

.grade__content-item a {
    color: #0e2c53 !important;
}

.grade__content-item h5 {
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}


@media all and (min-width: 1000px) {
    .header-wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        margin: 0;
    }

    .list-topic__filter {
        padding: 15px 0;
    }

    .list-topic__filter-item {
        padding-bottom: 0.5rem;
    }

    .list-topic__filter-chooselevel {
        padding: 0.5rem;
        font-size: 14px;
        width: 100%;
    }
}
@media all and (min-width: 540px) {
    /* EMPTY */
}
@media all and (min-width: 1000px) and (max-width: 1380px) {
    .about-wrapper::before {
        width: 50%;
    }
}
@media all and (min-width: 200px) {
	.grade-selector{
        background-color: #fef8eb;
		display: flex;
    }
}



.listPage {
    padding: 10px;
    text-align: center;
    list-style: none;
}

.listPage li {
    background-color: gray;
    padding: 20px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    position: fixed;
    margin-top: 25px;
}

.listPage {
    padding: 10px;
    text-align: center;
    list-style: none;
}

.listPage li {
    background-color: gray;
    padding: 20px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
}
.background-image{
    height: 2000px;
}
.listPage .active {
    background-color: #B129EF;
    color: #fff;
}











